<div class="row">
  <div class="col-md-12 text-center">
    <div class="btn-group bg-primary" role="group" aria-label="Basic example">
      <button
        type="button"
        class="btn btn-secondary"
        routerLinkActive
        [routerLink]="['nuevo']"
      >
        Solicitud
      </button>
    </div>

    <div class="btn-group bg-primary" role="group" aria-label="Basic example">
      <button
        type="button"
        class="btn btn-secondary"
        routerLinkActive
        [routerLink]="['lista']"
      >
        Lista
      </button>
    </div>
  </div>
</div>

<br />
<br />
<br />

<router-outlet></router-outlet>
