<div class="row">
  <div class="col-md-8">
    <form
      #usuarioForm="ngForm"
      (ngSubmit)="onSubmit(usuarioForm)"
      class="validate-form flex-sb flex-w"
    >
      <fieldset>
        <span
          *ngIf="usuarioForm.submitted && usuarioForm.controls['nombre'].errors"
          class="text-danger animated fadeIn"
          >El nombre es obligatorio</span
        >
        <div class="form-group">
          <label for="disabledTextInput">Nombre(s)</label>
          <input
            type="text"
            id="nombre"
            name="nombre"
            required
            minlength="2"
            [(ngModel)]="usuario.nombre"
            class="form-control"
            placeholder="Nombre y apellidos"
          />
        </div>
        <span
          *ngIf="usuarioForm.submitted && usuarioForm.controls['email'].errors"
          class="text-danger animated fadeIn"
          >El correo es obligatorio</span
        >
        <div class="form-group">
          <label for="disabledSelect">Correo</label>
          <input
            type="email"
            name="email"
            required
            email
            [(ngModel)]="usuario.correo"
            id="email"
            class="form-control"
            placeholder="Email"
          />
        </div>
        <span
          *ngIf="usuarioForm.submitted && usuarioForm.controls['cedula'].errors"
          class="text-danger animated fadeIn"
          >La Cedula es obligatorio</span
        >
        <div class="form-group">
          <label for="disabledSelect">Cedula</label>
          <input
            type="text"
            id="cedula"
            name="cedula"
            required
            [(ngModel)]="usuario.cedula"
            minlength="2"
            class="form-control"
            placeholder="Cedula"
          />
        </div>

        <div class="form-group">
          <label for="disabledSelect">Fecha Pagar</label>
          <input
            type="date"
            name="fechaPagar"
            max="3000-12-31"
            min="1000-01-01"
            [(ngModel)]="usuario.fechaPagar"
            class="form-control"
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </form>
    <div class="alert alert-success" role="alert" *ngIf="alertUsuarioNuevo">
      Usuario nuevo se guardo con exito!
    </div>
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="alertaCreditosRechazados"
    >
      Usuario existente tiene creditos rechazados no puede volver a solicitar
      creditos!
    </div>

    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="alertaCreditosPendientesPago"
    >
      Usuario existente tiene creditos pendientes por pagar cancelar antes de
      solicitar nuevos creditos!
    </div>

    <div class="alert alert-success" role="alert" *ngIf="alertUsuarioCredito">
      Usuario existente se le acaba de aprobar un nuevo credito felicitaciones!
    </div>

    <br /><br />

    <ul class="list-group" *ngIf="alertaCreditosRechazados">
      <li class="list-group-item" *ngFor="let credito of rechazados">
        {{ credito.id }}. credito por valor de {{ credito.valor }} fue
        {{ credito.estado }}
      </li>
    </ul>

    <ul class="list-group" *ngIf="alertaCreditosPendientesPago">
      <li class="list-group-item" *ngFor="let credito of pendientesPago">
        {{ credito.id }}. credito por valor de {{ credito.valor }} esta
        pendiente por pagar
      </li>
    </ul>
  </div>

  <div class="col-md-4">
    <app-monto-solicitado
      (enviarMonto)="escuchaMonto($event)"
    ></app-monto-solicitado>
    <br /><br />
    <div class="alert alert-danger" role="alert" *ngIf="errorMonto">
      Error en el monto {{ monto }} solicitado debe encontrarse en los rangos
      permitidos
    </div>
  </div>
</div>
