<div class="row">
  <div class="col">
    <h3 class="text-primary text-uppercase lead">solicitudes rechazadas</h3>
    <table class="table table-hover">
      <thead class="thead-primary">
        <tr>
          <th scope="col">Cedula</th>
          <th scope="col">Nombre y Apellidos</th>
          <th scope="col">Estado</th>
          <th scope="col">Monto Negado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let solicitud of solicitudesRechazadas">
          <td>{{ solicitud.cedula }}</td>
          <td>{{ solicitud.nombre }}</td>
          <td>
            <span class="badge badge-pill badge-danger">{{
              solicitud.estado
            }}</span>
          </td>
          <td>
            {{ solicitud.monto | currency: "COP ":"symbol-narrow":".0-0" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
